**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.md
.env
venv
env
*.log
*.sqlite3
db.sqlite3
.DS_Store
core/hf_cache
core/chroma_db
core/models/.cache
D:\lawchater\lawchater_be\.dockerignore