# Django
Django
djangorestframework
django-cors-headers

# AI/ML
torch
transformers
sentence-transformers

# LangChain
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-openai

# Vector Database
chromadb

# Document Processing
docx2txt
pypdf

# Utils
python-dotenv
drf-spectacular
drf-spectacular-sidecar

djangorestframework-simplejwt
mysqlclient